<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gallery - ArtSchool</title>
    <div th:replace="fragments/styles :: styles"></div>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="row mt-4">
        <div class="col-md-3">
            <div th:replace="fragments/search_photo :: search_photo"></div>
        </div>
        <div class="col-md-9">
            <div th:if="${photos?.empty}" class="alert alert-warning alert-dismissible fade show ml-3 mr-3" role="alert">
                There are no photos matching your request.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div th:unless="${photos?.empty}" th:object="${photos}">
                <div th:replace="fragments/photos :: photos"></div>
            </div>
        </div>
    </div>
</body>
</html>