<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My courses - ArtSchool</title>
    <div th:replace="fragments/styles :: styles"></div>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="row mt-4">
        <div class="col-md-3">
            <div th:replace="fragments/user_menu :: user_menu"></div>
        </div>
        <div class="col-md-9">
            <div th:if="${photos} and (${photos.totalPages <= 0} or ${photos.number >= photos.totalPages})" class="alert alert-warning alert-dismissible fade show ml-3 mr-3" role="alert">
                You haven't load any photos yet.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div th:if="${photos} and ${photos.totalPages > 0} and ${photos.number < photos.totalPages}" >
                <div class="card-group" th:object="${photos}">
                    <div th:replace="fragments/photos :: photos"></div>
                </div>
                <div class="row">
                    <div class="pagination mx-auto">
                        <div th:if="${photos.totalPages > 1}" th:each="page_num : ${#numbers.sequence(1, pages)}">
                            <div th:class="${page_num == photos.number + 1} ? 'page-item active' : 'page-item'">
                                <a class="page-link" th:href="@{/gallery/user}" th:text="${page_num}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>