<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Art School</title>
    <div th:replace="fragments/styles :: styles"></div>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="row mt-5">
        <div class="col-3">
            <div class="row">
                <div class="mr-3">
                    <div class="card mb-auto pl-4">
                        <div class="card-body">
                            <form class="form-inline" th:action="@{/course/search}" method="GET">
                                <input class="form-control my-3" name="request" type="search" placeholder="Course name...">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div th:if="${courses.empty}" class="alert alert-warning alert-dismissible fade show ml-3 mr-5" role="alert">
                There are no courses matching your request.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div th:unless="${courses.empty}" th:object="${courses}">
                <div th:replace="fragments/courses :: courses"></div>
            </div>
        </div>
    </div>
</body>
</html>