<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${course.name} + ' - ArtSchool'"></title>
    <div th:replace="fragments/styles :: styles"></div>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="row mt-4">
        <div class="col-md-3">
            <div sec:authorize="isAuthenticated()">
                <div th:replace="fragments/user_menu :: user_menu"></div>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <div th:replace="fragments/search_course :: search_course"></div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="jumbotron ml-3 mr-3">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="mx-4">
                            <figure class="figure">
                                <img th:src="|/course/get_photo/${course.id}|" class="figure-img img-fluid rounded">
                            </figure>
                            <div th:if="${author}">
                                <form th:action="|/course/upload_photo/${course.id}|" enctype="multipart/form-data" method="POST">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="photo" id="photo" accept="image/*" required>
                                            <label class="custom-file-label" for="photo">...</label>
                                        </div>
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon">Upload</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div th:if="${param.error != null}" class="alert alert-danger alert-dismissible fade show mb-3" role="alert">
                            <a th:text="${param.error}"></a>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <h1 class="display-4" th:text="${course.name}"></h1>
                        <a class="lead" th:text="${course.description}"></a>

                        <hr class="my-4">
                        <dl class="row">
                            <dt class="col-3 lead">Audience:</dt>
                            <dd class="col-9 lead" th:text="${course.audience}"></dd>

                            <dt class="col-3 lead">Discipline:</dt>
                            <dd class="col-9 lead">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item" th:each="discipline : ${course.disciplines}" th:text="${discipline.getCapitalizedName()}"></li>
                                </ul>
                            </dd>

                            <dt class="col-3 lead">Instructor:</dt>
                            <dd class="col-9 lead">
                                <a class="btn btn-light btn-sm" th:href="'/profile/' + ${course.instructor.id}">View</a>
                            </dd>

                            <dt class="col-3 lead">Fee:</dt>
                            <dd class="col-9 lead" th:text="${course.fee} + ' $'"></dd>
                        </dl>
                        <hr class="my-4">
                        <dl class="row">
                            <dt class="col-3 lead">Date:</dt>
                            <dd class="col-9 lead" th:text="${course.date.getFormattedStartDate()} + ' - ' + ${course.date.getFormattedEndDate()}"></dd>

                            <dt class="col-3 lead">Time:</dt>
                            <dd class="col-9 lead" th:text="${course.date.startTime} + ' - ' + ${course.date.endTime}"></dd>

                            <dt class="col-3 lead">Days:</dt>
                            <dd class="col-9 lead">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item" th:each="day : ${course.days}" th:text="${day.getCapitalizedName()}"></li>
                                </ul>
                            </dd>

                            <dt class="col-3 lead">Duration:</dt>
                            <dd class="col-9 lead" th:text="|${course.weeksAmount} weeks, ${course.daysAmount} days|"></dd>
                        </dl>
                        <hr class="my-4">
                        <dl class="row">
                            <dt class="col-3 lead">Spaces:</dt>
                            <dd class="col-9 lead" th:text="${course.availableSpaces}"></dd>

                            <dt class="col-3 lead">Students:</dt>
                            <dd class="col-9 lead">
                                <a class="btn btn-light btn-sm" th:href="'/search/student?course=' + ${course.id}">View</a>
                            </dd>
                        </dl>
                        <div sec:authorize="hasRole('USER')" th:if="${enrolled}">
                            <a class="btn btn-danger btn-lg" th:href="|/student/course/unenroll/${course.id}|">Unenroll</a>
                        </div>
                        <div sec:authorize="hasRole('USER')" th:if="${course.availableSpaces} > 0" th:unless="${enrolled}">
                            <a class="btn btn-secondary mb-3" th:href="|/student/course/restore/${course.id}|">Restore using transactions</a>
                            <div id="paypal-button-container"></div>
                            <div th:replace="fragments/payment :: paypal"></div>
                        </div>
                        <div sec:authorize="hasRole('ADMIN')" th:if="${author}">
                            <a class="btn btn-warning" th:href="|/instructor/course/edit/${course.id}|">Edit</a>
                            <a class="btn btn-danger" th:href="|/instructor/course/delete/${course.id}|">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>