<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Art School</title>
    <div th:replace="fragments/styles :: styles"></div>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="row mt-5 mx-5 px-5">
        <div class="col-4">
            <figure class="figure">
                <img src="/images/course.png" class="figure-img img-fluid rounded">
            </figure>
        </div>
        <div class="col-8">
            <div class="jumbotron">
                <h1 class="display-4">Create course</h1>
                <form class="needs-validation form-horizontal mt-4" novalidate action="/course/save" method="POST">
                    <div class="form-group row">
                        <label for="name" class="col-3 col-form-label">
                            <a class="lead">Name:</a>
                        </label>
                        <div class="col-9">
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="discipline" class="col-3 col-form-label">
                            <a class="lead">Discipline:</a>
                        </label>
                        <div class="col-9">
                            <select id="discipline" name="discipline" class="form-control" required>
                                <option selected></option>
                                <option th:each="discipline : ${T(com.artschool.model.Discipline).values()}" th:value="${discipline}" th:text="${{discipline}}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="audience" class="col-3 col-form-label">
                            <a class="lead">Audience:</a>
                        </label>
                        <div class="col-9">
                            <select id="audience" name="audience" class="form-control" required>
                                <option selected></option>
                                <option th:each="audience : ${T(com.artschool.model.Audience).values()}" th:value="${audience}" th:text="${{audience}}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-3 col-form-label">
                            <a class="lead">Description:</a>
                        </label>
                        <div class="col-9">
                            <div class="input-group">
                                <textarea class="form-control" id="description" name="description" rows="7" aria-label="With textarea" required></textarea>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" id="save" type="submit">Save</button>
                    <a class="btn btn-light" href="/course/user">Cancel</a>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/form_validation.js"></script>
</body>
</html>