<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit course - ArtSchool</title>
    <div th:replace="fragments/styles :: styles"></div>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="row mt-4">
        <div class="col-md-3">
            <div th:replace="fragments/user_menu :: user_menu"></div>
        </div>
        <div class="col-md-9">
            <div class="ml-3 mr-4">
                <div th:if="${param.error != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <a th:text="${param.error}"></a>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="jumbotron ml-3 mr-3">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="mx-4">
                            <figure class="figure">
                                <img th:src="|/course/get_photo/${course.id}|" class="figure-img img-fluid rounded">
                            </figure>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h1 class="display-4">Edit course</h1>
                        <form class="needs-validation form-horizontal mt-4" novalidate th:action="|/instructor/course/update/${id}|" enctype="multipart/form-data" method="POST">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <div class="form-group row">
                                <label for="name" class="col-3 col-form-label">
                                    <a class="lead">Name:</a>
                                </label>
                                <div class="col-9">
                                    <input type="text" class="form-control" id="name" name="name" th:value="${course.name}" placeholder="Name" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="disciplines" class="col-3 col-form-label">
                                    <a class="lead">Disciplines:</a>
                                </label>
                                <div class="col-9">
                                    <select id="disciplines" name="disciplines" class="selectpicker form-control" multiple title="Disciplines..." data-live-search="true" data-style="btn-white" required>
                                        <option th:each="discipline : ${disciplines}" th:value="${discipline.name}" th:text="${discipline.getCapitalizedName()}" th:selected="${course.disciplines.contains(discipline) ?: 'selected'}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="audience" class="col-3 col-form-label">
                                    <a class="lead">Audience:</a>
                                </label>
                                <div class="col-9">
                                    <select id="audience" name="audience" class="selectpicker form-control" title="Audience..." data-live-search="true" data-style="btn-white" required>
                                        <option th:each="audience : ${T(com.artschool.model.enumeration.Audience).values()}" th:value="${{audience}}" th:text="${audience}" th:selected="${audience} == ${course.audience} ?: 'selected'"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="spaces" class="col-3 col-form-label">
                                    <a class="lead">Spaces:</a>
                                </label>
                                <div class="col-9">
                                    <input type="number" class="form-control" id="spaces" name="spaces" th:value="${course.spaces}" min="0" max="50" placeholder="Spaces" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="fee" class="col-3 col-form-label">
                                    <a class="lead">Fee:</a>
                                </label>
                                <div class="col-9">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input type="number" class="form-control" id="fee" name="fee" th:value="${course.fee}" placeholder="Fee" min="0" max="500" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="date" class="col-3 col-form-label">
                                    <a class="lead">Date:</a>
                                </label>
                                <div class="col-9">
                                    <input type="text" class="form-control" id="date" name="date" th:value="${course.date.getFormattedStartDate()} + ' - ' + ${course.date.getFormattedEndDate()}" required/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">
                                    <a class="lead">Time:</a>
                                </label>
                                <div class="col-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">from</span>
                                        </div>
                                        <input id="start_time" name="startTime" type="text" class="input-group clockpicker form-control" th:value="${course.date.startTime}" title="Start time" required>
                                        <div class="input-group-append input-group-prepend">
                                            <span class="input-group-text">to</span>
                                        </div>
                                        <input id="end_time" name="endTime" type="text" class="input-group clockpicker form-control" th:value="${course.date.endTime}" title="End time" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="days" class="col-3 col-form-label">
                                    <a class="lead">Days:</a>
                                </label>
                                <div class="col-9">
                                    <select id="days" name="days" class="selectpicker form-control" multiple title="Days..." data-live-search="true" data-style="btn-white" required>
                                        <option th:each="day : ${days}" th:value="${day.name}" th:text="${day.getCapitalizedName()}" th:selected="${course.days.contains(day) ?: 'selected'}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="photo" class="col-3 col-form-label">
                                    <a class="lead">Photo:</a>
                                </label>
                                <div class="col-9">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="photo" name="photo" accept="image/*">
                                        <label class="custom-file-label" for="photo">Photo...</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="description" class="col-3 col-form-label">
                                    <a class="lead">Description:</a>
                                </label>
                                <div class="col-9">
                                    <div class="input-group">
                                        <textarea class="form-control" id="description" name="description" th:text="${course.description}" rows="7" placeholder="Description" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" id="edit" type="submit">Save</button>
                            <a class="btn btn-light" href="/instructor/course/list">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/bootstrap_select.js"></script>
    <script src="/js/date_range_picker.js"></script>
    <script src="/js/clock_picker.js"></script>
    <script src="/js/form_validation.js"></script>
</body>
</html>