<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Art School</title>
    <div th:replace="fragments/styles :: styles"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="row mt-5">
    <div class="col-3">
        <div sec:authorize="isAuthenticated()">
            <div th:replace="fragments/user_menu :: user_menu"></div>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <div th:if="${{member.role}} == 'ADMIN'">
                <div th:replace="fragments/search_instructor :: search_instructor"></div>
            </div>
            <div th:if="${{member.role}} == 'USER'">
                <div th:replace="fragments/search_student :: search_student"></div>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div th:object="${member}">
            <div th:replace="fragments/profile :: profile"></div>
        </div>
    </div>
</div>
</body>
</html>