<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Art School</title>
    <div th:replace="fragments/styles :: styles"></div>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="row mt-5">
        <div class="col-3">
            <div th:if="${instructors}">
                <div th:replace="fragments/search_instructor :: search_instructor"></div>
            </div>
            <div th:if="${students}">
                <div th:replace="fragments/search_student :: search_student"></div>
            </div>
        </div>
        <div class="col-9">
            <div th:if="${instructors?.empty}" class="alert alert-warning alert-dismissible fade show ml-3 mr-5" role="alert">
                There are no instructors matching your request.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div th:if="${students?.empty}" class="alert alert-warning alert-dismissible fade show ml-3 mr-5" role="alert">
                There are no students matching your request.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div th:if="${instructors}" class="card-group mr-4" th:object="${instructors}">
                <div th:replace="fragments/users :: users"></div>
            </div>
            <div th:if="${students}" class="card-group mr-4" th:object="${students}">
                <div th:replace="fragments/users :: users"></div>
            </div>
        </div>
    </div>
</body>
</html>