<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${instructors} ? 'Instructors - ArtSchool' : 'Students - ArtSchool'"></title>
    <div th:replace="fragments/styles :: styles"></div>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="row mt-4">
        <div class="col-md-3">
            <div th:if="${instructors}">
                <div th:replace="fragments/search_instructor :: search_instructor"></div>
            </div>
            <div th:if="${students}">
                <div th:replace="fragments/search_student :: search_student"></div>
            </div>
        </div>
        <div class="col-md-9">
            <div th:if="${instructors} and (${instructors.totalPages <= 0} or ${instructors.number >= instructors.totalPages})" class="alert alert-warning alert-dismissible fade show ml-3 mr-5" role="alert">
                There are no instructors matching your name.
            </div>
            <div th:if="${students} and (${students.totalPages <= 0} or ${students.number >= students.totalPages})" class="alert alert-warning alert-dismissible fade show ml-3 mr-5" role="alert">
                There are no students matching your name.
            </div>

            <div th:if="${instructors} and ${instructors.totalPages > 0} and ${instructors.number < instructors.totalPages}" >
                <div class="card-group" th:object="${instructors}">
                    <div th:replace="fragments/users :: users"></div>
                </div>
                <div class="row">
                    <div class="pagination mx-auto">
                        <div th:if="${instructors.totalPages > 1}" th:each="page_num : ${#numbers.sequence(1, pages)}">
                            <div th:class="${page_num == instructors.number + 1} ? 'page-item active' : 'page-item'">
                                <a class="page-link" th:href="@{/search/instructor(name=${param.name}, size=${instructors.size}, page=${page_num})}" th:text="${page_num}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${students} and ${students.totalPages > 0} and ${students.number < students.totalPages}" >
                <div class="card-group" th:object="${students}">
                    <div th:replace="fragments/users :: users"></div>
                </div>
                <div class="row">
                    <div class="pagination mx-auto">
                        <div th:if="${students.totalPages > 1}" th:each="page_num : ${#numbers.sequence(1, pages)}">
                            <div th:class="${page_num == students.number + 1} ? 'page-item active' : 'page-item'">
                                <a class="page-link" th:href="@{/search/student(name=${param.name}, course=${param.course}, size=${students.size}, page=${page_num})}" th:text="${page_num}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>