<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark" th:fragment="header">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#art-school-navbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
        <img src="/favicon.ico" height="30" class="d-inline-block align-top">Art School
    </a>
    <div class="collapse navbar-collapse" id="art-school-navbar">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/course/search">Courses</a>
            <a class="nav-item nav-link" href="/search/instructor">Instructors</a>
            <a class="nav-item nav-link" href="/search/student">Students</a>
            <a class="nav-item nav-link" href="#">Gallery</a>
        </div>
        <div class="navbar-nav ml-md-auto">
            <a class="nav-item nav-link text-warning" sec:authorize="!isAuthenticated()" href="/login">Sign in</a>
            <div class="nav-item dropdown" sec:authorize="isAuthenticated()">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <a sec:authentication="name"></a>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="btn btn-white btn-block text-body" href="/profile">Profile</a>
                    <form name='logout' action="/logout" method='POST'>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <button type="submit" class="btn btn-white btn-block">Sign out</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>