<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="profile">
    <div class="mr-5 ml-3">
        <div class="jumbotron">
            <div class="row">
                <div class="col-4">
                    <div class="mx-4">
                        <figure class="figure">
                            <img th:src="${{#object.gender}} == 'FEMALE' ? '/images/girl.png' : '/images/boy.png'" class="figure-img img-fluid rounded-circle">
                        </figure>
                    </div>
                </div>
                <div class="col-8">
                    <h1 class="display-4" th:text="|${#object.firstName} ${#object.lastName}|"></h1>
                    <div th:if="${another}">
                        <a class="lead" th:text="${#object.status}"></a>
                    </div>
                    <div th:unless="${another}">
                        <div class="lead">
                            <a class="x_editable" id="status" th:text="${#object.status}" data-pk="${#object.id}" data-type="text" data-url="/edit_status"></a>
                        </div>
                    </div>
                    <div th:if="${{#object.role}} == 'ADMIN'">
                        <p class="lead mt-3" th:text="${#object.bio}"></p>
                    </div>
                    <hr class="my-4">

                    <dl class="row">
                        <dt class="col-5 h5">Email:</dt>
                        <dd class="col-7 lead" th:text="${#object.email}"></dd>

                        <dt class="col-5 h5">Phone Number:</dt>
                        <dd class="col-7 lead" th:text="${#object.phoneNumber}"></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/x_editable.js"></script>
</div>


