<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="search_instructor">
    <div class="row">
        <div class="mr-3">
            <div class="card mb-auto pl-4">
                <div class="card-body">
                    <form class="form-inline" th:action="@{/search/instructor}" method="GET">
                        <input class="form-control my-3" name="request" type="search" placeholder="Instructor name...">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>