<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="search_instructor">
    <div class="card mb-auto">
        <div class="card-header">
            <form class="my-3" th:action="@{/search/instructor}" method="GET">
                <h3>Search instructor</h3>
                <input type="text" class="form-control mb-3" id="request" name="request" placeholder="Name" title="Instructor name">
                <button class="btn btn-secondary btn-block my-3" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>