<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="search_instructor">
    <div class="card mb-4">
        <div class="card-header border-0">
            <form class="my-3" th:action="@{/search/instructor}" method="GET">
                <h3>Search instructor</h3>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Name</span>
                    </div>
                    <input type="text" class="form-control" th:value="${param?.name}" id="name" name="name" title="Instructor name">
                    <button class="btn btn-secondary btn-block mt-3" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>