<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="search_course">
    <div class="card mb-auto">
        <form th:action="@{/course/search}" method="GET">
            <div class="card-header">
                <div class="my-3">
                    <h3>Search course</h3>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Name</span>
                        </div>
                        <input type="text" class="form-control" th:value="${param?.request}" id="request" name="request" title="Course name">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="discipline">
                        <strong>Discipline</strong>
                    </label>
                    <select id="discipline" name="discipline" class="form-control">
                        <option value="" selected>...</option>
                        <option th:each="discipline : ${disciplines}" th:value="${discipline.name}" th:text="${discipline.getCapitalizedName()}" th:selected="${discipline.name} == ${{param?.discipline}}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="audience">
                        <strong>Audience</strong>
                    </label>
                    <select id="audience" name="audience" class="form-control">
                        <option value="" selected>...</option>
                        <option th:each="audience : ${T(com.artschool.model.enumeration.Audience).values()}" th:value="${{audience}}" th:text="${audience}" th:selected="${{audience}} == ${{param?.audience}}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="instructor">
                        <strong>Instructor</strong>
                    </label>
                    <select id="instructor" name="instructor" class="form-control">
                        <option value="" selected>...</option>
                        <option th:each="instructor : ${instructors}" th:value="|${instructor.firstName} ${instructor.lastName}|" th:text="|${instructor.firstName} ${instructor.lastName}|" th:selected="|${instructor.firstName} ${instructor.lastName}| == ${{param?.instructor}}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="fee">
                        <strong>Fee ($)</strong>
                    </label>
                    <div class="input-group" id="fee">
                        <div class="input-group-prepend">
                            <span class="input-group-text">from</span>
                        </div>
                        <input id="fromFee" name="fromFee" type="number" th:value="${param?.fromFee}" th:placeholder="${fromFee}" min="0" max="500" class="form-control" title="Form fee">
                        <div class="input-group-append input-group-prepend">
                            <span class="input-group-text">to</span>
                        </div>
                        <input id="toFee" name="toFee" type="number" th:value="${param?.toFee}" th:placeholder="${toFee}" min="0" max="500" class="form-control" title="To fee">
                    </div>
                </div>
                <div class="form-group">
                    <label for="day">
                        <strong>Day</strong>
                    </label>
                    <select id="day" name="day" class="form-control">
                        <option value="" selected>...</option>
                        <option th:each="day : ${days}" th:value="${day.name}" th:text="${day.getCapitalizedName()}" th:selected="${{day.name}} == ${{param?.day}}"></option>
                    </select>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-secondary btn-block my-3" type="submit">Search</button>
            </div>
        </form>
    </div>
</div>