<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="users" class="col-sm-4 mb-4" th:each="u: ${#object}">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <figure class="figure m-auto">
                        <img th:src="|/get_photo/${u.id}|" class="figure-img img-fluid rounded-circle" style="object-fit: cover; height:120px; width:120px;">
                    </figure>
                </div>
                <div class="col-6 my-auto">
                    <div class="row ml-1">
                        <a class="card-text" th:text="|${u.firstName} ${u.lastName}|"></a>
                    </div>
                    <div class="row ml-1">
                        <a th:href="|/profile/${u.id}|" class="btn btn-primary btn-sm my-2">About</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
