<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<div th:fragment="user_menu">
    <div class="mb-4">
        <div class="btn-group-vertical btn-block" role="group">
            <a class="btn btn-outline-primary" href="/profile">Profile</a>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Courses
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <div sec:authorize="hasRole('USER')">
                        <a class="dropdown-item" href="/student/course/list">Mine</a>
                    </div>
                    <div sec:authorize="hasRole('ADMIN')">
                        <a class="dropdown-item" href="/instructor/course/list">Mine</a>
                        <a class="dropdown-item" href="/instructor/course/create">Create</a>
                    </div>
                </div>
            </div>
            <div sec:authorize="hasRole('ADMIN')" class="btn-group">
                <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Instructors
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/instructor/create">Create</a>
                </div>
            </div>
            <a sec:authorize="hasRole('USER')" class="btn btn-outline-primary" href="/student/course/payments">Payments</a>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Gallery
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/gallery/user">Mine</a>
                    <a class="dropdown-item" href="/gallery/add_photo">Add photo</a>
                </div>
            </div>
        </div>
    </div>
</div>