<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Art School</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <div th:replace="header_fragment :: header_fragment"></div>

    <div class="row mt-5">
        <div class="col-3">
            <div class="row">
                <div class="mr-3">
                    <div class="card mb-auto pl-4">
                        <div class="card-body">
                            <form class="form-inline" th:action="@{/course/search}" method="GET">
                                <input class="form-control mb-3" name="request" type="search" placeholder="Course name...">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div th:object="${courses}">
                <div th:replace="courses_fragment :: courses_fragment"></div>
            </div>
        </div>
    </div>
</body>
</html>