<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Art School</title>
    <div th:replace="fragments/styles :: styles"></div>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="row mt-5 mx-5 px-5">
        <div class="col-4">
            <figure class="figure">
                <img src="/images/course.png" class="figure-img img-fluid rounded">
            </figure>
        </div>
        <div class="col-8">
            <div class="jumbotron">
                <h1 class="display-4" th:text="${course.name}"></h1>
                <a class="lead" th:text="${course.description}"></a>

                <hr class="my-4">
                <h4>Instructor:</h4>
                <a class="lead" th:text="${course.instructor.firstName}"></a>
                <a class="lead" th:text="${course.instructor.lastName}"></a>

                <hr class="my-4">
                <h4>Students:</h4>
                <div th:each="student: ${course.students}">
                    <p class="lead" th:text="|${student.firstName} ${student.lastName}|"></p>
                </div>

                <div sec:authorize="hasRole('USER')" th:if="${enrolled}">
                    <a class="btn btn-danger btn-lg" th:href="|/course/unenroll/${course.id}|">Unenroll</a>
                </div>
                <div sec:authorize="hasRole('USER')" th:unless="${enrolled}">
                    <a class="btn btn-primary btn-lg" th:href="|/course/enroll/${course.id}|">Enroll</a>
                </div>
                <div sec:authorize="hasRole('ADMIN')" th:if="${author}">
                    <a class="btn btn-danger" th:href="|/course/edit/${course.id}|">Edit</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>