<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark" th:fragment="header_fragment">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#art-school-navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
            <img src="/favicon.ico" height="30" class="d-inline-block align-top">Art School
        </a>
        <div class="collapse navbar-collapse" id="art-school-navbar">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/course/all">Courses</a>
                <a class="nav-item nav-link" href="#">Instructors</a>
                <a class="nav-item nav-link" href="#">Gallery</a>
            </div>
            <div class="navbar-nav ml-md-auto">
                <a class="nav-item nav-link text-warning" sec:authorize="!isAuthenticated()" href="/login">Sign in</a>
                <div class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <a th:text="${user.firstName}"></a>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/user">Profile</a>
                        <a class="dropdown-item" href="/logout">Sign out</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>