<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Art School</title>
    <div th:replace="fragments/styles :: styles"></div>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="/images/home.jpg">
        </div>
        <div class="carousel-caption mb-5 pb-5">
            <h2 class="mb-5 pb-5">WELCOME TO THE ART SCHOOL</h2>
        </div>
    </div>
    <h6 class="text-info mt-3 ml-3"><em>Art School - 2018 ©​ All rights reserved</em></h6>
</body>
</html>