<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Art School</title>
    <div th:replace="fragments/styles :: styles"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="row mt-5">
    <div class="col-3">
        <div th:replace="fragments/user_menu :: user_menu"></div>
    </div>
    <div class="col-9">
        <div class="mr-5 ml-3">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-4">
                        <figure class="figure">
                            <img th:src="${{user.gender}} == 'FEMALE' ? '/images/girl.png' : '/images/boy.png'" class="figure-img img-fluid rounded-circle" style="object-fit: cover; height: 200px;">
                        </figure>
                    </div>
                    <div class="col-8 my-auto">
                        <h1 class="display-4" th:text="|${user.firstName} ${user.lastName}|"></h1>
                        <hr class="my-4">

                        <h4>Email:</h4>
                        <p class="lead" th:text="${user.email}"></p>

                        <h4>Phone Number:</h4>
                        <p class="lead" th:text="${user.phoneNumber}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>