<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Art School</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div th:fragment="profile">
    <div class="row">
        <div class="col-3 ml-5">
            <figure class="figure">
                <img src="/boy.png" class="figure-img img-fluid rounded-circle" style="object-fit: cover; height: 200px;">
                <h5 class="text-center" th:text="|${user.firstName} ${user.lastName}|"></h5>
            </figure>
        </div>
        <div class="col-8">
            <div class="card">
                <h5 class="card-header">About yourself</h5>
                <div class="card-body">
                    <p class="card-text" th:text="|Email: ${user.email}|"></p>
                    <p class="card-text" th:text="|Phone Number: ${user.phoneNumber}|"></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>